{% extends "materials/layout.html" %}

<html> 

    {% block content %}
	<body>
		<h1>{{Date}} Incoming List</h1>
    	<div class="table-responsive">
        
        <table class="table table-striped">
	        <thead>
	            <tr>
					<td><B>Incoming Date</B></td>
	            	<td><B>Customer's Name</B></td>
	                <td><B>Material's Name</B></td>
	                <td><B>Material's Code</B></td>
	                <td><B>Control Code</B></td>
					<td><B>Zone Code</B></td>
					<td><B>Pallet Code</B></td>
	                <td><B>Incoming Unit</B></td>
					<td><B>Incoming Count</B></td>
	            </tr>
	        </thead>
            <tbody>
				{% for incoming in incoming_list %}
				<tr>
					<td> {{incoming.incoming_date.year}}/{{incoming.incoming_date.month}}/{{incoming.incoming_date.day}}</td>
					<td> <a href="c{{incoming.material.customer.id}}/">{{incoming.material.customer}}</a></td>
					<td> <a href="m{{incoming.material.id}}/"> {{incoming.material.material_name}}</a></td>
					<td> {{incoming.material.material_code}} </td>
					<td> {{incoming.material.control_code}} </td>
					<td> <a href="z{{incoming.pallet.zone.id}}/">{{incoming.pallet.zone}}</a></td>
					<td> <a href="p{{incoming.pallet.id}}/"> {{incoming.pallet}}</a></td>
					<td> {{incoming.incoming_unit}} </td>
					<td> {{incoming.incoming_count}} </td>
				</tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </body>
    {% endblock %}
</html>
