{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>(주)우창물류 자재관리</title>
        <link href="{% static 'materials/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'materials/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
    </head>
    <body>
        <script type="text/javascript"
         src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="{% static 'materials/bootstrap/js/bootstrap.js' %}"></script>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="brand" href="">(주)우창물류 자재관리</a>
                    <div class="nav-collapse in collapse" style="height: Opx;">
                        <ul class="nav">
                            <li class=""><a href="#">Education</a></li>
                            <li class=""><a href="#">Work Experience</a></li>
                            <li class=""><a href="#">Interests</a></li>
                            <li class=""><a href="#">Portfolios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>